
.bigcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-around;

    width: 400px;
    height: 450px;
    border-radius: 10px;
}

.input {
    height: 50px;
    width: 90%;
    border-radius: 5px;
    border: solid 1px lightgray;
    font-size: 20px;
    padding-left: 10px;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
.button {
    width: 90%;
    border: solid 1px lightgray;
    border-radius: 5px;
    height: 50px;
    background-color: #1A67B1;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

}

.logocontainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.description {
    font-size: 20px;
}

.logo {
    font-size: 26px;
    color: #1A67B1;

}

.text {
    color: #1A67B1;
    cursor: pointer;
}

.seperator {
    height: 1px;
    width: 90%;
    border-bottom: solid 1px #edf2f7;
}

.sub_button {
    width: 50%;
    border: solid 1px lightgray;
    border-radius: 5px;
    height: 40px;
    background-color: #1A67B1;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 680px) {
    .bigcontainer{
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
        width: 100%;
    }
    .logocontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 450px;
        border-radius: 10px;
    }
    .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
    }
    .description {
        font-size: 16px;
    }
    .logo {
        font-size: 16px;
    }
    .image {
        width: 50px;
    }
}