
.container {
    margin-top: 100px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addpost {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 190px;
    border-radius: 25px;
}

.sub_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 20px;
}

.avatar {
    width: 70px;
    background-color: white;
}

.sep {
    border-top: 1px solid #C6DEFF;
    width: 95%;
}

.input {
    width: 80%;
    height: 40px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #F8FBFF;
}

.input::placeholder {
    color: #CECECE;
}

.imageicon {
    width: 20px;
}

.button {
    border: 1px solid lightgrey;
    cursor: pointer;
    background-color: transparent;
    height: 5px;
    width: 95%;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
    font-weight: bolder;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #1A67B1;
}

.inputimage {
    
}

.container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 900px) {
    .container {
        width: 80%;
    }
    .sub_container {
        margin-left: 0px;
    }
    .avatar {
        width: 60px;
    }
    .input {
        width: 60%;
        height: 30px;
    }
    .input::placeholder {
        font-size: 12px;
    }
    .avatar {
        width: 50px;
    }
    .sub_container {
        justify-content: space-around;
        width: 100%;
    }
}