
.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addpost {
    width: 90%;
    
    background-color: white;
    height: 150px;
    border-radius: 5px;
}

/* .posts {
    margin-top: 20px;
    width: 90%;
    height: 200px;
    background-color: white;

} */