

.container {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;

}

.logo {
    width: 50px;
    height: 50px;
}

.title {
  color: #1A67B1;
  font-weight: bold;
  font-size: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 70px;
    text-decoration: none;

}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  align-items: center;
  cursor: pointer;
  margin-right: 35px;
}


.searchbar {
  display: flex;
  align-items: center;
  border: 0.2px solid #C9DFF5;
  width: 250px;
  height: 40px;
  border-radius: 15px;
  margin-left: 10px;
  gap: 20px;
}


.searchicon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.input {
    border: 0;
    height: 95%;
    color: #1A67B1;
}

.input:focus {
  outline: 0;
}

.input::placeholder {
  color: #C9DFF5;
}

.text {
  color: #1A67B1;
  font-size: 16px;
}

.arrow {
  width: 8px;
}

.avatarimage {
    width: 50px;
    height: 50px;
}

.icon {
    width: 24px;
}


.imagecontainer {
  width: 20%;
}
.sep {
    width: 100%;
    border: 1px solid #C9DFF5;
}



.holder {
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 20px;
    margin-left: 30px;
    height: 100%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.logoutbutton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.holder:hover {
    transition: 0.5s;
    color: #1A67B1;
}

.text2 {
  text-align: left;
  width: 80%;
}

.card {
    height: 120px;
    width: 300px;
    margin-left: -330px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #C9DFF5;
    border-radius: 6px;

}




.avatar_info_container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 90px;
    left: 100%;
    transform: translateY(0%);
    transition: 1s;
  }
  
  .avatar_info_container.show {
    opacity: 1;
  }


  .hamburger1 {
    width: 30px;
    transition: transform 1s ease;
    cursor: pointer;
    display: none;
  }

  .hamburger2 {
    width: 30px;
    cursor: pointer;
    transition: transform 1s ease;
    display: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translateX(0%);
    transition: transform 0.3s ease;
    display: none;
  }

  .sidebar2 {
    background-color: white;
    transform: translateX(10%);
    transition: transform 0.3s ease;
  }
  .sidebar.open {
    transform: translateX(0);
    transition: transform 0.3s ease;

  }
  
  .sidebar_header {
    padding: 20px;
    transition: transform 1s ease;
  }
  
  nav a {
    display: block;
    padding: 15px;
    text-decoration: none;  
    color: #333;
  }
  
  nav a:hover {
    background: #f4f4f4;
  }  



@media screen and (max-width: 1360px) {
  .text {
    display: none;
  }
  .input {
    display: none;
  }
  .searchbar {
    display: none;
  }
  .arrow {
    display: none;
  }
  .searchbar {
    border: 0;
    width: 50px;
  }
  .title {
    display: none;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger1 {
    display: block;
    margin-left: 30px;

  }
  .hamburger2 {
    display: inline;
    margin: 40px;
  }
  .sidebar {
    transition: 1s;
    display: flex;
    justify-content: space-around;
    transition: transform 1s ease;
    
  }
}