

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 23px;
}

.info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;

}

.info2 {
    margin: 12px;
}

.dots {
    width: 7px;
    height: 20px;
    cursor: pointer;
}

.date {
    color: #46A3FF;
    font-size: 10px;
}

.description {
    color: #1A67B1;
    margin-left: 10px;
    margin: 15px;
}

.container_image {
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    border-radius: 20px;
}


.sub_container {

    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.interactive {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.likecomment {
    display: flex;
    width: 50px;
    height: 20px;
    cursor: pointer;
    gap: 4px;
    margin: 10px;
}